Loads flights database and loads planes table inner join flights table on tailnum = tailnum

In [6]:
import pymysql
import pandas as pd


database = pymysql.connect(host='localhost', user='****', password='****', database='flights')

statement = 'select type, manufacturer from planes inner join flights on planes.tailnum = flights.tailnum'

df = pd.read_sql_query(sql=statement, con=database)
print(df)

C:\Users\garci\AppData\Local\Temp\ipykernel_73236\2772933380.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(sql=statement, con=database)

                           type                   manufacturer
0       Fixed wing multi engine                         BOEING
1       Fixed wing multi engine                         BOEING
2       Fixed wing multi engine                         BOEING
3       Fixed wing multi engine                         AIRBUS
4       Fixed wing multi engine                         BOEING
...                         ...                            ...
284165  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
284166  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
284167  Fixed wing multi engine  MCDONNELL DOUGLAS AIRCRAFT CO
284168  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION
284169  Fixed wing multi engine  MCDONNELL DOUGLAS CORPORATION

[284170 rows x 2 columns]